<h1>Here is a basic Front page</h1>

<ul id="replace">
    <li>Replace Me</li>
</ul>

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(function($) {
    $.getJSON('/api/values', function(response){
        var $replace = $('#replace');
        $replace.html('');
        $.each(response, function(index, item) {
            $('<li>').html(item).appendTo($replace)
        })
    });
})

</script>